{% extends "layout.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
    {%else %}
<h1>Bienvenido</h1>
<h2>Hola, {{ username }}</h2>

<form method="POST" action='/update_user'>
    <div class="form-group">
        <label for="email">Dirección de correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder={{
            email }}>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder={{ nombre }}>
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </div>
</form>

{% endif %}
{% endblock %}