{% extends "layout.html" %}
{% block body %}
{% if error %}
{%else %}

<h1>Buscador de Pokémon</h1>
<form name="Item_1" action="/mongo" method="POST">
    <label>Tipo: </label>
    <select name="pokemon_tipo">
        <option value="Cualquiera" selected>Cualquiera</option>
        {% for tipo in tipos %}
        <option value="{{ tipo }}">{{ tipo }}</option>
        {% endfor %}
    </select>
    <label>Debilidad: </label>
    <select name="pokemon_debilidad">
        <option value="Cualquiera" selected>Cualquiera</option>
        {% for tipo in tipos %}
        <option value="{{ tipo }}">{{ tipo }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

{% if (lista_pokemon is defined) and lista_pokemon %}
<br>
<h2>Estos son tus resultados:</h2>
<p><strong>Tipo</strong>: {{ tipo_seleccionado }}</p>
<p><strong>Debilidad seleccionada</strong>: {{ debilidad_seleccionada }}</p>
{% for pokemon in lista_pokemon %}
<li><img src="{{pokemon.img}}">{{ pokemon.name }} </li>

{% endfor %}
{% endif %}

{% endif %}
{% endblock %}