<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        Crear cuadro
    </h1>

    <form action="/crear_cuadro" method="POST">
        {% csrf_token %}
        {{ crear_cuadro_form }}
        <input type="submit" value="Submit">
    </form>

    <h1>
        Crear galería
    </h1>

    <form action="/crear_galeria" method="POST">
        {% csrf_token %}
        {{ crear_galeria_form }}
        <input type="submit" value="Submit">
    </form>

    <h1>
        Añadir
    </h1>

    <h1>
        Borrar
    </h1>

    <h1>
        Modificar
    </h1>
</body>

</html>