{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<h1>Creación</h1>
<h3>Nueva galería</h3>
<form action="/crear_galeria" method="POST">
  {% csrf_token %} {{ crear_galeria_form|crispy}}
  <button type="submit" class="btn btn-primary">Registrar galería</button>
</form>

{% if messages %}
<!-- Considerar usar form errors:
https://stackoverflow.com/questions/47923952/python-django-how-to-display-error-messages-on-invalid-login -->
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}> Error: {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Nuevo cuadro</h3>
<form action="/crear_cuadro" method="POST" enctype="multipart/form-data">
  {% csrf_token %} {{ crear_cuadro_form | crispy }}
  <button type="submit" class="btn btn-primary">Crear cuadro</button>
</form>

<br />

<h1>Añadir</h1>

<br />

<h1>Borrar</h1>

<h3>Borrar galería</h3>
<form action="/borrar_galeria" method="DELETE">
  {% csrf_token %} {{ borrar_galeria_form|crispy}}
  <button type="submit" class="btn btn-primary">Borrar</button>
</form>

<h3>Borrar cuadro</h3>
<form action="/borrar_cuadro" method="DELETE">
  {% csrf_token %} {{ borrar_cuadro|crispy}}
  <button type="submit" class="btn btn-primary">Borrar</button>
</form>

<br />

<h1>Modificar</h1>

<h3>Modificar galería</h3>
<form action="/actualizar_galeria" method="POST">
  {% csrf_token %} {{ actualizar_galeria_form|crispy}}
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

<h3>Modificar cuadro</h3>
<form action="/actualizar_cuadro" method="POST">
  {% csrf_token %} {{ actualizar_cuadro|crispy}}
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>


{% endblock %}
