{% extends "layout.html" %}
{% block body %}
{% if error %}
{%else %}

<h1>Buscador de Pokémon</h1>
<form name="Item_1" action="/mongo" method="POST">
    <label for="exampleFormControlFile2">Tipo: </label>
    <select name="pokemon_tipo">
        {% for tipo in tipos %}
        <option value="{{ tipo }}" SELECTED>{{ tipo }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

{% if (lista_pokemon is defined) and lista_pokemon %}
<br>
<h2>Estos son tus resultados:</h2>
{% for pokemon in lista_pokemon %}

<li><img src="{{pokemon.img}}">{{ pokemon.name }} </li>

{% endfor %}
{% endif %}

{% endif %}
{% endblock %}